body{
	background-image: url(../img/sabor1.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	max-width: 100%;
}

/* Replacement menu bar styling */
#menubar{
	width: 100%;
	background-color: #333;
	padding: 0;
	position: absolute;
	bottom: 48px;
}
#menubar h1{
	display: block;
	float:left;
	font-size: 30px;
	line-height: 48px;
	height: 48px;
	margin: 0px;
	margin-left: 30px;
}
#menubar a:link, #menubar a:visited{
	padding: 16px 30px 12px 30px;
	border-bottom: solid 4px #333;
	font-size: 16px;
}
#menubar a:hover{
	border-color: #fc0;
}