body{
	background-image: url(../img/sabor2.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	max-width: 100%;
}

/* Replacement menu bar styling */
#menubar{
	width: 100%;
	background-color: #000;
	padding: 0;
	position: absolute;
	bottom: 48px;
    opacity: 0.7;
}
#menubar h1{
	display: block;
	float:left;
	font-size: 30px;
	line-height: 48px;
	height: 48px;
	margin: 0px;
	margin-left: 30px;
}
#menubar a:link, #menubar a:visited{
	padding: 16px 30px 12px 30px;
	border-bottom: solid 4px #000;
	font-size: 16px;
}
#menubar a:hover{
	border-color: #CFB53B;
}
/* footer styling */
#footer{
	background-color: #000;
	overflow: auto;
	color: #CFB53B;
	opacity: 0.7;
	float: right;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
#footer a{
	color: #CFB53B;
}
#adminlink{
	float:right;
	padding-left: 10px;
	border-left: solid 2px #CFB53B;
	margin-left: 10px;
}