/* lorem ipsum styling */
#vidbox img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	height: auto;
}
ul{
	list-style-type: none;
}
#vidbox{
    float: left;
    padding: 10px;
}
#vidmenu{
	float: right;
	padding: 10px;
}
#vidInfo{
    color:#CFB53B;
    width:300px;
    height:300px;
    overflow:scroll;
}
ul#vidPerformers{
	display: block;
	overflow: auto;
	margin: 0;
	padding: 0;
}
ul#vidPerformers a{
	display: block;
	float: left;
	padding: 0px 5px 0px 0px;
}
#vidSearh{
	display: block;
}